@page "/"
@using BlazorApp.Data
@inject NavigationManager NavigationManager
@inject ProfileService UserProfileService

<PageTitle>Home</PageTitle>

<h1>Welcome to your Dashboard Homepage @UserProfileService.UserName 😎</h1>
<h3>Let's Get started...</h3>
<hr />
<h4>Edit your profile first and work your way down in the navigation bar.</h4>











